<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- <form method="post" action="/signin">
    <label for="email">
        Email / Tài khoản:
        <input type="text" name="email" id="email" placeholder="Your email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            required="required" />
    </label>
    <label for="password">
        Password / Mật khẩu:
        <input type="password" name="password" id="password" placeholder="Your password" required="required" />
    </label>
    <button type="submit">Đăng nhập</button>
</form> --}}

<form method="post" action="/signup">
    <label for="name">
        Tên đầy đủ:
        <input type="text" name="name" placeholder="Your name" id="name" required="required" />
    </label>
    <label for="email">
        Email / Tài khoản:
        <input type="text" name="email" id="email" placeholder="Your email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            required="required" />
    </label>
    <label for="password">
        Password / Mật khẩu:
        <input type="password" name="password" id="password" placeholder="Your password" required="required" />
    </label>
    <label for="CMND">
        CMND:
        <input type="text" name="CMND" id="CMND" placeholder="Your CMND" />
    </label>
    <label for="phoneNumber">
        Phone number:
        <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Your phone number" />
    </label>
    <button type="submit">Đăng ký</button>
</form>